$grid-m: 48em; // 768px

.grid-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 1250px 200px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;

  @media only screen and (max-width: $grid-m) {
    grid-template-rows: 300px 1250px 200px;
  }
}
